[submodule "LiteNetLibManager"]
	path = LiteNetLibManager
	url = https://github.com/insthync/LiteNetLibManager.git
[submodule "CameraAndInput"]
	path = CameraAndInput
	url = https://github.com/insthync/unity-camera-and-input.git
[submodule "UnityEditorUtils"]
	path = UnityEditorUtils
	url = https://github.com/insthync/UnityEditorUtils.git
[submodule "AudioManager"]
	path = AudioManager
	url = https://github.com/insthync/unity-audio-manager.git
[submodule "DevExtension"]
	path = DevExtension
	url = https://github.com/insthync/unity-dev-extension.git
[submodule "SerializationSurrogates"]
	path = SerializationSurrogates
	url = https://github.com/insthync/unity3d-serialization-surrogates.git
[submodule "xNode"]
	path = xNode
	url = https://github.com/insthync/xNode.git
[submodule "SerializableCallback"]
	path = SerializableCallback
	url = https://github.com/insthync/SerializableCallback.git
[submodule "SuperGrid2DVisibleChecker"]
	path = SuperGrid2DVisibleChecker
	url = https://github.com/insthync/LiteNetLib-SuperGrid2D-Integration.git
[submodule "SimpleAssetBundleClient"]
	path = SimpleAssetBundleClient
	url = https://github.com/insthync/unity-simple-asset-bundle-client.git
[submodule "GraphicSettings"]
	path = GraphicSettings
	url = https://github.com/insthync/unity-graphic-settings.git
[submodule "UnityRestClient"]
	path = UnityRestClient
	url = https://github.com/insthync/unity-rest-client.git
[submodule "SharedData"]
	path = SharedData
	url = https://github.com/suriyun-mmorpg/UnityMultiplayerARPG_SharedData.git
	branch = litenetlib
