[submodule "LiteNetLibManager"]
	path = LiteNetLibManager
	url = https://github.com/insthync/LiteNetLibManager.git
[submodule "CameraAndInput"]
	path = CameraAndInput
	url = https://github.com/insthync/unity-camera-and-input.git
[submodule "UnityEditorUtils"]
	path = UnityEditorUtils
	url = https://github.com/insthync/UnityEditorUtils.git
[submodule "AudioManager"]
	path = AudioManager
	url = https://github.com/insthync/unity-audio-manager.git
[submodule "DevExtension"]
	path = DevExtension
	url = https://github.com/insthync/unity-dev-extension.git
[submodule "SerializationSurrogates"]
	path = SerializationSurrogates
	url = https://github.com/insthync/unity3d-serialization-surrogates
[submodule "xNode"]
	path = xNode
	url = https://github.com/insthync/xNode.git